// Override default variables before the import
$body-bg: #000;
$yellow: #FDE8AA;
$lightblue: #EFFAFE;
$darkblue: #374958;

@import 'vars.css';

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

body {
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  color: var(--darkblue);
  font-size: 1.6rem;
  line-height: 2.5rem;
}

a {
  text-decoration: none;
  color: var(--darkblue);
}

em {
  font-weight: 300;
  text-transform: lowercase;
}

textarea {
  border: none;
}

strong {
  font-weight: 600;
}

.footer {
  text-align: center;
  font-size: 1.4rem;
}

/*NAVIGATION*/
.navigation {
  position: sticky;
  top: 0;
  z-index: 99999;
}

#responsive-nav {
  display: none;
}

#responsive-nav+label {
  display: none;
  padding: 1.6rem;
  font-size: 2rem;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  z-index: 3;
  transition: background 0.3s cubic-bezier(.64, .09, .08, 1), color 0.3s cubic-bezier(.64, .09, .08, 1);
}

.nav-aside {
  position: fixed;
  z-index: 9999999;
  transition: transform 0.3s cubic-bezier(.64, .09, .08, 1);
  background: white;
  width: 20rem;
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.logo-area {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  padding: 0 1rem;
}

nav ul {
  margin-bottom: 1rem;
}

.nav-link {
  width: 100%;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  transition: none;
  border-bottom: .05rem solid var(--darkblue);
  padding: .75rem;
}

.nav-link:last-of-type {
  margin-bottom: 1.5rem;
}

.nav-link:hover,
.active-link,
.selected-link {
  border-left: .5rem solid var(--darkblue);
}

.profile-link p {
  font-weight: 600;
  font-size: 1.6rem;
  margin: 1rem 0;
}

.bodyblue {
  background-color: var(--lightblue);
}

.profile-link img {
  height: 3rem;
  padding-right: .5rem;
  margin-left: 1rem;
}

input[id^="nav-collapsible"] {
  display: none;
}

input[id^="nav-collapsible"]:checked+label {
  transition: background 0.2s cubic-bezier(.64, .09, .08, 1), color 0.2s cubic-bezier(.64, .09, .08, 1);
}

input[id^="nav-collapsible"]:checked+label:before {
  transform: rotate(-230deg) translate(5px, -5px);
}

input[id^="nav-collapsible"]:checked+label:after {
  transform: rotate(50deg) translate(5px, -2px);
}

.login-button p,
.uitlog-button {
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: var(--yellow);
  cursor: pointer;
  width: 100%;
  color: var(--darkblue);
  margin-bottom: 1.5rem;
}

.register p {
  text-align: center;
  font-size: 1.5rem;
}

.register p:hover {
  font-weight: 600;
}

.keuzemenu {
  background-color: var(--lightblue);

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  text-align: center;
  padding: 4rem 1rem;
}

.keuzemenu p {
  font-size: 1.6rem;
}

.buttons-persons {
  margin-top: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.buttons-persons img {
  margin-bottom: 2rem;
}

.button-personKeuze {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--darkblue);
  font-size: 1.6rem;
  padding-right: 1.9rem;
  padding-bottom: 2rem;
  cursor: pointer;

  display: flex;
  flex-flow: column;
  align-items: center;
}

.buttons-persons button {
  transition: transform;
  transition-duration: 1s;
}

.buttons-persons button:hover {
  transform: translateY(-1.8rem);
}

// main {
//   padding: 0 1.5rem;
// }

.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  grid-template-areas:
    "search"
    "hartvoorcreatie"
    "maaklocatie"
    "project";
  // margin: 4rem 0;
}

.searchbar {
  grid-area: search;
  align-self: center;
  align-items: center;
}

.search {
  position: relative;
}

.input_img {
  position: absolute;
  bottom: 0.7rem;
  right: .8rem;
}

.searchbar-input,
.input-field input {
  width: 100%;
  padding: .5rem;
  height: 3.5rem;
  outline: none;
  background-color: #FAFAFA;
  border: none;
}

.uitgebreid {
  text-align: right;
}

.input-field input {
  background-color: #fff;
}

.addproject .input-field input,
.inloggen .input-field input,
.registreren .input-field input {
  background-color: transparent;
}

.header {
  grid-area: hartvoorcreatie;
  margin-bottom: 3rem;
}

.home-title,
.notfound-title {
  font-family: 'ArialBlack';
  font-weight: 800;
  font-size: 2.7rem;
  line-height: 3.6rem;
  text-transform: uppercase;
  padding: 1.4rem 0 1rem;
}

span {
  background-image: linear-gradient(0deg, transparent 2.8rem, var(--yellow) 0);
  background-position: left .9rem bottom 3rem;
}

i {
  border: solid var(--darkblue);
  border-width: 0 .3rem .3rem 0;
  display: inline-block;
  padding: .3rem;
}

.up {
  transform: rotate(-135deg);
}

.right {
  transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
}

.left {
  transform: rotate(135deg);
}

.button-next {
  color: var(--darkblue);
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1rem;
  position: relative;
  top: 0;
  z-index: 1;
  transition: color .3s;
  cursor: pointer;
}

.button-next input {
  cursor: pointer;
  text-transform: uppercase;
  color: var(--darkblue);
  font-weight: 600;
  font-size: 1.4rem;
}

.button-next:before {
  background-color: var(--yellow);
  border-radius: 2.5rem;
  content: "";
  height: 90%;
  width: 3.5rem;
  transition-property: background-color, width;
  transition-duration: .3s, .3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.button-next:hover:before {
  width: 100%;
}

.button-next--primary:hover:before {
  background-color: var(--yellow);
}

.header-content p {
  margin-bottom: 2rem;
}

.maaklocatie {
  grid-area: maaklocatie;
}

.projectitem-title {
  font-weight: 600;
  font-size: 1.7rem;
  padding: .5rem 0;
}

.project {
  grid-area: project;
  background-color: var(--lightblue);
  padding: 3rem 1.5rem;
}

.project__header {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  border-bottom: .05rem solid var(--darkblue);
}

.project__header img {
  width: 50%;
}

.project__header:last-child {
  border: none;
}

.project-content {
  padding-left: 2rem;
}

.project-content h2 {
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.project-tags {
  display: flex;
  flex-flow: row wrap;
}

.project-tag {
  border: .1rem solid var(--darkblue);
  margin: 1rem .5rem 1rem 0;
  padding: .05rem 1.5rem;
  cursor: pointer;
}

.project-tag-active {
  border: .1rem solid var(--darkblue);
  background-color: var(--darkblue);
  color: white;
  margin: 1rem .5rem 1rem 0;
  padding: .05rem 1.5rem;
  cursor: pointer;
}

.project-title,
.nieuws-title,
.overons-title,
.events-title,
.maaklocatie-title,
.locatie-title,
.forum-title,
.projecten-title {
  font-family: 'ArialBlack';
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.8rem;
  padding-left: .6rem;
}

.overons-title,
.forum-title {
  padding: 0 0 1rem 0;
}

.overons-title {
  font-size: 2.4rem;
}

.bekijk-link {
  font-weight: 600;
  font-size: 1.5rem;
}

.evenementen {
  grid-area: evenementen;
}

.event,
.forminputs {
  display: flex;
  align-items: center;
}

.forminputs {
  align-items: flex-start;
}

.forminputs .input-field:first-child {
  padding-right: 2rem;
}

.event:nth-child(1) {
  grid-column: 2;
  grid-row: 1;
}

.event:nth-child(2) {
  grid-row: 2;
  grid-column: 2;
}

.event:nth-child(3) {
  grid-row: 3;
  grid-column: 2;
}

.event-date {
  font-weight: 800;
  font-size: 1.8rem;

  // background: url(../assets/img/blub.png) no-repeat;
  background-position: center;
  padding: 2.5rem 3rem;
  margin: 1rem 0;
}

.event-kind {
  font-weight: 300;
  font-size: 1.8rem;
}

.event-name {
  font-weight: 600;
  font-size: 1.8rem;
}

.nieuwsartikelen {
  grid-area: nieuws;
  margin: 3rem 0;
}

.nieuwsartikelen header div,
.evenementen header div,
.project header div,
.maaklocatie header div {
  display: flex;
  align-items: center;
}

.nieuwsartikelen header,
.evenementen header,
.maaklocatie header,
.project header,
.forumname,
.commentname {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.nieuws-content {
  display: grid;
  grid-gap: 1rem;
}

.nieuws-content article {
  border-bottom: .05rem solid var(--darkblue);
  padding: 2rem 0;
}

.nieuws-content article:last-child {
  border-bottom: none;
}

.nieuws-subtitle,
.forum-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nieuws-content h3 {
  font-weight: 700;
  font-size: 1.8rem;
  padding: 1rem 0;
}

.more-btn {
  font-weight: 600;
  cursor: pointer;
}

.more-btn:hover,
.forum-allvragen:hover,
.forum-like:hover,
.paswoordvergeten:hover,
.profile-link p:hover,
.forum-vraagtitle:hover {
  text-decoration: underline;
}

.overons {
  margin: 4rem 0 7rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5rem;
}

blockquote {
  font-weight: 600;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.3rem;
  position: relative;
}

blockquote::before {
  content: '"';
  position: absolute;
  top: 4.5rem;
  left: 0;
  font-weight: 800;
  color: var(--yellow);
  font-size: 9rem;
  z-index: -999999;
}

.subtitle,
.event-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  padding: 1rem 0;
}

.overons-content-meewerken div p {
  margin-bottom: 3rem;
}

.locatie article {
  margin: 3rem 0;

  // background: url(../assets/img/blub_locatie.png) no-repeat;
  background-size: 100% 100%;
  padding: 4rem;
}

.locatie-title {
  padding: 3rem 0;
}

.locatiedetail-title {
  font-weight: 600;
  font-size: 1.8rem;
  padding: 1rem 0 .5rem;
}

.inloggen,
.registreren,
.addvraag,
.notfound {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  // height: 100vh;

  // background: url(../assets/img/blub_large.png) no-repeat;
  background-size: contain;
  background-position: center center;
}

.notfound {
  background-size: 70% 70%;
}

.notfound-title {
  margin: 3rem 0;
}

.registreren {
  margin: 4rem 0;
  background-color: var(--lightblue);
  padding: 2rem;

  height: 100%;
}

.addvraag {
  background: none;
}

.forum,
.addproject,
.forumdetail,
.events,
.profile,
.locatie,
.gridEvents,
.addproject,
.projectdetail,
.forumdetail {
  padding: 6rem 0;
}

.form-register,
.form-login,
.form-addvraag {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}

.inlog-title,
.register-title,
.addvraag-title,
.addproject-title {
  font-family: 'ArialBlack';
  font-weight: 800;
  font-size: 3rem;
  padding: 4rem 0;
  text-align: center;
}

.form-error {
  color: var(--red);
}

.paswoordvergeten,
.forminfo {
  text-align: right;
  margin-top: .6rem;
}

label {
  font-weight: 600;
  font-size: 1.7rem;
  padding: 1rem 0 .5rem;
}

.directlink {
  font-weight: 600;
}

.directlink:hover {
  text-decoration: underline;
}

.input-field {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 1.5rem;
  width: 69vw;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  border: none;
  background: none;
}

::placeholder {
  font-weight: 300;
  font-size: 1.4rem;
  color: #D1D1D1;
}

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem 0;
}

.radio-tile-group .input-container {
  position: relative;
  height: 7rem;
  width: 7rem;
}

.radio-tile-group .input-container .radio-button {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 100%;
  height: 100%;
}

.icon {
  display: flex;
  justify-content: center;
}

.icon img {
  width: 170%;
}

.radio-tile-group .input-container .radio-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.radio-tile-group .input-container .radio-tile-label {
  text-align: center;
  font-weight: 400;
}

.radio-tile-group .input-container .radio-button:checked+.radio-tile {
  background-color: var(--yellow);
  border-radius: 50%;
  transition: all ease-in-out 200ms;
}

.forum-allvragen,
.forum-like {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.forum-allvragen img,
.forum-like img {
  margin-right: .8rem;
}

.forum-user {
  text-align: center;
  margin-right: 2rem;
  flex: .5;
  align-self: center;
}

.forum-user+div {
  flex: 5;
}

.forum-radio-search {
  display: none
}

.forum-user p {
  font-weight: 600;
}

.forum-date,
.comment-date {
  font-weight: 400;
}

.forum aside,
.projecten aside {
  background-color: var(--lightblue);
  margin: 3rem 0;
  padding: 1.5rem;
}

.forum-profile_img,
.comment-profile-img {
  // background: url(../assets/img/blub.png) no-repeat;
  background-size: 100% 100%;
}

.forum-vragen, .header {
  animation: fadeIn 1s ease 0s 1 forwards;
}

.forum-vragen .forum-vraagarticle {
  display: flex;
  padding: 2rem;
  border-bottom: 0.05rem solid var(--darkblue);
}

.forum-vraagtitle {
  font-weight: 600;
  font-size: 1.6rem;
}

.forumitem-vraag {
  border-bottom: .05rem solid var(--darkblue);
  padding: 4rem 1rem 2rem;
  margin-bottom: 4rem;
}

.forum-form {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.forum-form textarea {
  background-color: #FAFAFA;
  border: none;
}

.forumitem-content {
  margin-bottom: 1.5rem;
}

.forum-vraag-user {
  font-weight: 400;
  font-size: 1.6rem;
}

.forum-reactie-extra {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.forum-reactie-extra p {
  display: flex;
  align-items: center;
}

.forum-reactie-extra img {
  margin-right: 1rem;
  width: 3rem;
}

.forum-reactie-extra p:first-child {
  margin-right: 4rem;
}

.forum-extra {
  display: flex;
  justify-content: space-between;
}

.forum-extra p {
  padding-bottom: 1.4rem;
  display: flex;
  align-items: center;
}

.forum-vraag-user img {
  width: 2.8rem;
}

.forum-extra img {
  width: 3rem;
  margin-right: 1rem;
}

.forum-reactie {
  background-color: var(--lightblue);
  padding: 2rem;
  margin: 1rem 0 2rem;
}

.forum-search {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.forum-radio-search div,
.alltags {
  margin: 1rem 0;
}

.alltags {
  font-weight: 600;
  text-align: right;
}

.form {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.visible {
  display: block;
}

.projecten {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "projecttitle projecttitle"
    "addproject addproject"
    "search search"
    "extraZoek extraZoek"
    "filter filter"
    "project project";
  margin: 4rem 0;
}

.uitgebreid-zoeken {
  grid-column: 1/-1;
  background-color: aliceblue;
  padding: 3.5rem;

  transition: all 2s ease;
}

.verderButton {
  display: flex;
  justify-content: flex-end;
}

.project-item {
  animation: fadeIn 1s ease 0s 1 forwards;
}

@keyframes fadeIn {

  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.uitgebreid {
  text-align: right;
}

.projectitem-content {
  padding: 0 0 1rem 1rem;
}

.projectdetail-title {
  font-family: 'ArialBlack';
  font-size: 3.5rem;
  margin: 6rem 0 2rem;
}

.projecten-title {
  grid-area: projecttitle;
}

.projecten .searchbar {
  grid-area: search;
}

.bijgehouden-projecten .project-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
}

.projecten .project-item {
  grid-area: project;
  justify-self: center;
  align-items: flex-start;
}

.project-item article {
  margin-bottom: 5rem;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: .4rem;
  transition: transform;
  transition-duration: 1s;

  position: relative;
}

.project-item article:hover {
  transform: translateY(-1.5rem);
}

.projecten .button-next {
  grid-area: addproject;
}

.like-button {
  position: absolute;
  top: .6rem;
  right: .6rem;
}

.projecten aside {
  grid-area: filter;
}

.projecten .project-item article {
  grid-area: project;
}

.addproject label+input,
.addproject label+textarea,
.form-addvraag .input-field label+input,
.form-addvraag .input-field label+textarea,
.input-content,
.inloggen .input-field label + input,
.registreren .input-field label + input {
  border-bottom: .1rem solid var(--darkblue);
}

.image-upload-input {
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  background-color: #FAFAFA;
  position: relative;

  height: 16rem;
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  grid-column: 1;
}

.projectdetail-comments {
  padding: 2rem;
  margin: 5rem 0;
  background-color: var(--lightblue);
}

.comment-user {
  font-weight: 600;
  font-size: 1.7rem;
}

.reactie-title,
.projectdetail-reactie form label {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8rem;

  align-items: center;
  margin: 1rem 0;
}

.ulProjecten {
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 3rem;
}

.projectdetail-content {
  margin: 2rem 0;
}

.project-img,
.form-add,
.project-reactie > div,
.project-detail {
  width: 100%;
}

.contact {
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding-bottom: .5rem;
}

.project-gegevens {
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.project-reactie {
  border-bottom: 0.05rem solid var(--darkblue);
  padding: 2rem 1.5rem;
}

.project-reactie:last-of-type {
  border: none;
}

.projectdetail-reactie form {
  margin-top: 2rem;

  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.diy {
  border: .1rem solid var(--darkblue);
  margin: 3rem 0;
}

.diy > div {
  display: flex;
}

.diy-stappen,
.diy-materiaal {
  color: white;
  background-color: var(--darkblue);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  padding: .7rem 2rem;
  width: 50%;
  cursor: pointer;
}

.diy-active {
  color: var(--darkblue);
  background-color: white;
  border-bottom: .1rem solid var(--darkblue);
}

.diy-omschrijving {
  padding: 1rem 2rem;
}

.diy-omschrijving li {
  line-height: 3rem;
}
.comment-profile_img {
  margin-right: 2rem;
}

.liProject {
  display: flex;
  flex-flow: column;
  font-weight: 400;
  margin-right: 4rem;
}

.checkvisible {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
}

.checkvisible input {
  width: auto;
  margin-right: 1rem;
  outline: none;

  background-color: #FAFAFA;
  border: none;
}

.textarea-comment {
  background-color: #DEF2F9;
}

.textarea-comment::placeholder {
  color: var(--darkblue);
  padding: 1rem 1rem;
  font-size: 1.3rem;
}

.contactitem {
  font-weight: 400;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.contactitem img {
  margin-right: 1.4rem;
}

.displayEvents {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  padding: 3rem 2rem;
  border-bottom: 0.05rem solid var(--darkblue);
}

.displayEvents:last-of-type {
  border-bottom: none;
}

.flexDate {
  flex: 1;
  text-align: center;
}

.flexFoto {
  flex: 1;
  margin-right: 2rem;
}

.event-extra {
  flex: 7;
}

.gridEvents {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-template-rows: 20% 47.2rem 20%; */
  grid-template-areas: "eventfoto eventfoto"
    "uitleg detail"
    "anderen .";
  grid-gap: 3rem;
}

.paddingElements,
.notfound-content{
  padding-bottom: 2rem;
}

.eventfoto {
  grid-area: eventfoto;
  width: 100%;
}

.event-kijker {
  background-color: var(--lightblue);
  padding: 3rem;
}

.eventdetail-title {
  font-family: 'ArialBlack';
  font-weight: 800;
  font-size: 3rem;
  margin: 4rem 0 2rem;
}

.event-content {
  grid-area: uitleg;
  padding-top: 2rem;
}

.eventdetail-name {
  font-weight: 800;
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
}

.eventDetail {
  grid-area: detail;
  // background: url(../assets/img/blub_event.png) no-repeat;
  background-size: 100% 100%;
  padding: 3rem;
}

.eventLocatie {
  display: flex;
  align-items: center;
}

.eventLocatie img {
  margin-right: 1rem;
}

.flexExtra {
  grid-column: 1/-1;
}

.anderenDiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 0;
}

.anderen {
  grid-area: anderen;
}

.anderenPersoon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 4rem 0 0;
}

.eventHeader {
  text-align: center;
}

.eventHeader p {
  text-align: center;
  padding: 1rem 0 3rem;
}

.inputEvent {
  margin-bottom: 2rem;
}

.locatie_icon,
.searchevent_icon {
  position: absolute;
  top: 0.6rem;
  right: .8rem;
}

.forum-vraag,
.bijgehouden-projecten-title,
.bijgehouden-evenementen-title {
  font-weight: 700;
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

.forum-vraag {
  padding: 1rem 0 2rem;
}

.bijgehouden-projecten,
.bijgehouden-evenementen {
  margin: 5rem 0;
}

.profile-contentuser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.profile-contentuser >div {
  margin-top: 1rem;
}

.profile-contentuser img {
  width: 19rem;
  margin-right: 3rem;
}

.profile-contentuser p {
  font-size: 1.7rem;
  line-height: 3rem;
}

.username-profile {
  font-weight: 800;
  font-size: 3rem;
  margin-block-end: 1rem;
}

.flexUsers {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.maaklocatie {
  grid-area: maaklocatie;
  justify-content: start;
}

.project {
  justify-content: start;
}

@media screen and (max-width: 1000px) {

  .nav-aside {
    transform: translateX(-100%);
  }

  #responsive-nav+label {
    display: block;
  }

  #responsive-nav:checked+label {
    color: white;
    background: var(--darkblue);
  }

  #responsive-nav:checked~.nav-aside {
    transform: translateX(0);
  }

  .gridEvents {
    grid-template-rows: 20% 40.2rem 20%;
  }

  .paddingElements {
    padding-bottom: 1.5rem;
  }

}

@media screen and(min-width: 320px){
  header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.input-field {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 1.5rem;
  width: 84vw;
  margin-right: 1.5rem;
}
}

@media screen and (min-width: 320px) and (max-width: 670px){
  .nav-aside {
    width: 100%;
  }
}

@media screen and (min-width: 670px) {
  

  #responsive-nav+label {
    padding: 2rem;
    font-size: 24px;
  }

  .gridEvents {
    grid-template-columns: 1fr;
    grid-template-rows: 10%;
    grid-template-areas: "titel"
      "detail"
      "uitleg"
      "anderen";
  }

  .eventDetail {
    grid-area: detail;
    background: unset;
    background-color: var(--lightblue);
    padding: 3rem;
  }

  .widthTags {
    width: auto;
  }

  .textAlignMensen {
    text-align: center;
  }

  .displayEvents {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "foto datum" 
    "uitleg .";
  }

  .flexDate {
    grid-area: datum;
  }

  .event-extra {
    grid-area: uitleg;
    grid-column: span 2;
  }

  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    grid-template-areas:
      "hartvoorcreatie hartvoorcreatie"
      "maaklocatie project";
    margin: 4rem 0;
  }

  .header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.input-field {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 1.5rem;
  width: 40vw;
}

.project-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexUsers {
  width: 46%;
  margin-right: 2rem
}

.marginElements {
  margin-left: 2rem;
}

}

@media screen and (min-width: 760px) {

  .home,
  .projecten,
  .profile,
  .locatie,
  .gridEvents,
  .forum,
  .overons,
  .addproject,
  .projectdetail,
  .forumdetail {
    padding: 5rem;
  }

  .home {
    // background: url(../assets/img/blub_home.png) no-repeat;
    background-position: top left;

    margin: unset;
  }

  .home .evenementen > div {
    width: 39vw;
    margin: 0 auto;
  }

  .registreren {
    background-color: unset;
  }
  
  .body {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-areas: "nav nav" "main main";
  }

  .navigation {
    grid-area: nav;
  }

  main {
    grid-area: main;
    padding: 0;
  }

  .keuzemenu {
    height: 100vh;
  }

  .keuzemenu p {
    width: 55vw;
    margin: 0 auto;
  }

  .button-personKeuze {
    padding: 3.5rem;
  }

  .header {
    display: flex;
    justify-content: space-around;
  }

  .header-content {
    align-self: center;
    margin-left: 3rem;
  }

  .header-img {
    width: 22rem;
  }

  .project__header img {
    width: 35%;
  }

  .overons {
    grid-template-columns: 2% repeat(2, 1fr) 2%;
    grid-gap: 4rem;
    grid-template-areas: "uitleg uitleg quote quote"
      ". uitleg1 uitleg1 ."
      ". uitleg2 uitleg2 ."
      ". uitleg3 uitleg3 .";
  }

  .overons article:nth-child(2n+2) {
    flex-flow: row-reverse;
  }

  blockquote {
    grid-area: quote;
    align-self: center;
    padding: 0 2rem;
  }

  blockquote::before {
    top: 1.2rem;
    left: 1.2rem;
  }

  .overons-content-hart {
    grid-area: uitleg1;
  }

  .overons-content-onderzoek {
    grid-area: uitleg2;
  }

  .overons-content-meewerken {
    grid-area: uitleg3;
  }

  .subtitle {
    padding: 0 0 1rem;
  }

  .overons-content {
    grid-area: uitleg;
  }

  .overons-content-hart,
  .overons-content-onderzoek,
  .overons-content-meewerken {
    display: flex;
    // background: url(../assets/img/blub_large.png) no-repeat;
    background-size: 40% 100%;
  }

  .overons-content-hart {
    background-position: right;
  }

  .overons-content-onderzoek {
    background-position: left;
    background-size: 40% 100%;
  }

  .overons-content-meewerken {
    background-position: right;
  }

  .overons-content-hart img {
    width: 40%;
  }

  .overons-content-onderzoek div {
    padding-right: 5rem;
    align-self: center;
  }

  .overons-content-hart div,
  .overons-content-meewerken div {
    padding-left: 5rem;
    align-self: center;
  }

  .kaart {
    width: 100%;
    grid-area: kaart;
    background-color: var(--yellow);
  }

  .locatie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    grid-template-areas:
      "locatietitle search"
      "kaart kaart"
      "locatiedetail locatiedetail"
  }

  .locatiekaart {
    grid-area: kaart;
  }

  .forum-title,
  .overons-title,
  .projecten-title {
    font-size: 3rem;
  }

  .forum {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
    grid-template-areas:
      "forumheader vraagtoevoegen"
      "vraag search"
      "vraag filter"
      "vraag ."
  }

  .forum-header {
    grid-area: forumheader;
    grid-column: 1/-1;
  }

  .forum aside,
  .project aside {
    grid-area: filter;
    height: 100%;
    margin: 0;
    padding: 2rem 3rem;
  }

  .forum-vragen {
    grid-area: vraag;
  }

  .forum-radio-search {
    display: block;
    overflow: auto;
  }

  .forum-radio-search div {
    position: relative;
    display: flex;
  }

  .forum-radio-search div input[type=radio] {
    position: absolute;
    visibility: hidden;
  }

  .forum-radio-search div label {
    font-weight: 400;
    font-size: 1.5rem;
    padding: .6rem 0 0 3rem;
    z-index: 9;
    cursor: pointer;
    transition: all 0.25s linear;
  }

  .forum-radio-search div .check {
    display: block;
    position: absolute;
    border: .2rem solid var(--darkblue);
    border-radius: 100%;
    height: 1.6rem;
    width: 1.6rem;
    top: 0;
    left: 0;
    z-index: 5;
    transition: border .25s linear;
  }

  .forum-radio-search div:hover .check {
    border: .2rem solid var(--pink);
  }

  .forum-radio-search div .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: .8rem;
    width: .8rem;
    top: .2rem;
    left: 0.185rem;
    margin: auto;
    transition: background 0.25s linear;
  }

  input[type=radio]:checked~.check::before {
    background: var(--pink);
  }

  .forum-search,
  .forum-radio-search {
    flex-flow: column wrap;

    padding-bottom: 2rem;
  }

  .forum-search {
    border-bottom: .05rem solid var(--darkblue);
  }

  .forum-radio-search {
    display: flex;
  }

  .forum-search p {
    padding: 1rem 0;
  }

  .event-kijker {
    display: flex;
    align-items: center;

    // background: url(../assets/img/blub_.png) no-repeat;
    background-size: 100% 100%;
    padding: 6rem 2rem;
    margin: 4rem 0;
  }

  .addproject {
    // background: url(../assets/img/blub_add.png) no-repeat;
    background-position: top right;
  }

  .addproject-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 3rem;
  }

  .projectdetail-content,
  .project-reactie {
    display: flex;
  }

  .projectdetail-comments {
    // background: url(../assets/img/blub_.png) no-repeat;
    background-size: 100% 100%;
  }

  .project-img {
    margin: 0 3rem 3rem 0;
  }

  .projectdetail-title {
    margin: 1rem 0 3rem;
  }

  .projecten {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-template-areas:
    "projecttitle projecttitle search"

    "project project project"
    "project project project"
    "project project project";
    margin: unset;
  }

  .projecten .searchbar {
    grid-column: -3/-1;
  }

  .projecten aside,
  .forum aside {
    margin: 0;
    position: sticky;
    top: 3rem;
  }

  .projecten .project-item {
    justify-self: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    width: 100%;
  }

  .projecten .project-item article {
    width: 42%;
    margin-right: 5rem;
  }

  .project-item article img {
    width: 100%;
  }

  .form-addproject {
    grid-template-columns: 1fr 2fr;
  }

  .image-upload-wrap {
    height: 21rem;
  }

  .projectdetail-reactie,
  .forum-form {
    width: 50%;
    margin: 0 auto;
  }

  .events > div {
    padding: 0 6rem;
  }

  .inputFields-events {
    display: flex;
  }

  .inputEvent {
    margin-left: 2rem;
    width: 30vw;
  }

  .inputFields {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .forumitem-vraag {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .forumitem-content {
    width: 70%;
  }

  .forum-extra {
    display: block;
    margin-left: 4rem;
  }

  .bijgehouden-projecten .project-item {
    grid-template-columns: repeat(4, 1fr);
  }

  .displayEvents {
    width: 80vw;
    margin: 0 auto;
  }

  .profile {
    // background: url(../assets/img/blub_back2.png) no-repeat;
    background-position: top right;
  }

  .flexFoto {
    margin: 0 2rem;
  }

  .login {
    width: 375px;
  }

  .project-item article img {
    width: 27%;
    height: auto;
}

  .maaklocatie {
    grid-area: maaklocatie;
    justify-content: start;
  }

  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    grid-template-areas:
      "hartvoorcreatie hartvoorcreatie"
      "maaklocatie project";
    margin: 4rem 0;
  }

  .input-field {
    width: 40vw;
}
}

@media screen and (min-width: 1000px) {
  //  main {
  //   width: calc(100% - 30rem);
  //   margin: 0 25rem;
  //   padding: 0;
  // } 

  .body {
    grid-template-areas: "nav main";
    grid-template-columns: 20rem 1fr;
  }

  .home .evenementen > div {
    width: 22vw;
    margin: 0 auto;
  }

  .nav-aside {
    top: 0;
    left: 0;
  }

  span {
    background-image: linear-gradient(0deg, transparent 4.8rem, var(--yellow) 0);
    background-position: left .9rem bottom 4rem;
  }

  .home {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      ". search"
      "hartvoorcreatie hartvoorcreatie"
      "maaklocatie project"
      "evenementen project"
      "nieuws nieuws";
    grid-gap: 1rem;
  }

  .header-img {
    width: 28%;
  }

  .header-content {
    grid-column: 3/-1;
    margin-left: 6rem;
  }

  .event {
    margin: 0 -1rem;
  }

  .nieuws-content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .project {
    padding: 2.5rem;
  }

  .nieuws-content article {
    border-bottom: none;
    border-right: .05rem solid var(--darkblue);
    padding-right: 2.5rem;
  }

  .nieuws-content article:last-child {
    border: none;
  }

  .displayEvents {
    width: 60vw;
  }

  .project-img {
    width: 28rem;
  }

  .eventHeader {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 4rem;
  }

  .eventHeader .events-title {
    font-size: 3.5rem;
    padding-bottom: 2rem;
  }

  .projecten .project-item article {
    width: 25%;
    margin-right: 5rem;
}

.flexUsers {
  width: 76%;
  margin-right: 2rem;
}

.marginElements {
  margin-left:18rem;
}

.input-field{
  width: 33vw;
}
}

@media screen and (min-width: 1200px) {

  // .projecten .project-item article {
  //   width: auto;
  // }

  .project-title,
  .nieuws-title,
  .events-title,
  .maaklocatie-title,
  .locatie-title {
    font-size: 2.3rem;
  }

  .header {
    padding: 0 10rem;
  }

  .home-title,
  .notfound-title {
    font-size: 4.8rem;
    padding-bottom: 2rem;
  }

  blockquote {
    margin: 0 7rem;
  }

  .project__header img {
    width: 35%;
  }

  .inloggen {
    background-size: auto;
  }

  .eventDetail {
    padding: 5.5rem;
  }

  .overons {
    grid-template-columns: 9% repeat(2, 1fr) 9%;
  }

  .overons-content-hart,
  .overons-content-onderzoek,
  .overons-content-meewerken {
    padding: 3rem 1rem;
  }

  .inputEvent {
    width: 30rem;
  }

  .event-kijker {
    padding: 5rem 7rem;
  }

  .projecten {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    grid-template-areas:
      "projecttitle projecttitle . search"
      "extraZoek extraZoek extraZoek extraZoek"
      "project project project addproject"
      "project project project filter"
      "project project project .";
      
  }

  .flexUsers {
    width: 57%;
  }

  .projecten .project-item {
    justify-content: unset;
}

  .eventDetail {
    padding: 5.5rem;
  }

  .overons {
    grid-template-columns: 9% repeat(2, 1fr) 9%;
  }

  .form-login {
      width: 37.5rem;
  }

  .input-field {
    width: 33vw;
  }

  .projecten .project-item article {
    width: 27%;
}
}