// Override default variables before the import
$body-bg: #000;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.form-signin{
width: 100%;
max-width: 330px;
padding: 15px;
margin: auto;}