@font-face {
    font-family: 'ArialBlack';
    font-style: normal;
    font-weight: 800;
    src:
      url('../assets/fonts/ArialBlack/ArialBlack.woff2') format('woff2'),
      url('../assets/fonts/ArialBlack/ArialBlack.woff') format('woff');
}
  
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src:
      url('../assets/fonts/Roboto/RobotoBold.woff2') format('woff2'),
      url('../assets/fonts/Roboto/RobotoBold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src:
      url('../assets/fonts/Roboto/RobotoMedium.woff2') format('woff2'),
      url('../assets/fonts/Roboto/RobotoMedium.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:
      url('../assets/fonts/Roboto/RobotoRegular.woff2') format('woff2'),
      url('../assets/fonts/Roboto/RobotoRegular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:
    url('../assets/fonts/Roboto/RobotoLight.woff2') format('woff2'),
    url('../assets/fonts/Roboto/RobotoLight.woff') format('woff');
}